.header_inner {
    overflow: hidden;
    width: 100%;
    display: flex;
    background-color: white;
    z-index: 2;
    flex-direction: column;
    position: fixed;
    top: 0;

}

.head {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    height: 50px;
}

.navbar {
    margin-top: 50px;
    background-color: black;
    z-index: 3;
    /* color: white; */
}

.nav-item {
    list-style-type: none;
    margin: 0 30px;

}

.nav-item a{
    color: white;
    text-decoration: none;
    text-align: center;
    
    
}

.nav-item a:hover{
    text-decoration: underline wavy darkgray;
}


.header_right a:hover {
    opacity: 0.5;
}

.header_right {
    display: flex;
    padding: 5px;
}

.logo2 {
    margin: 0 15px;
}

/* .search input[type=text] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100px;
    background: #f1f1f1;

}

.search button {
    float: right;
    width: 50px;
    padding: 8px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search button:hover {
    background: darkgray;
}

.search::after {
    content: "";
    clear: both;
    display: table;
} */

/* 左邊產品nav */

.sidenav {
    max-width: 150px;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    z-index: 1;
    /* top: 0; */
    /* left: 0; */
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 150px;
    margin: 0 8px;
    /* border:  1px solid #ccc; */
}

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(115, 113, 113);
    display: block;
    border: none;
    background: none;
    width: 0px;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: black;
    text-decoration: underline wavy  black;
}

.dropdown-container {
    display: none;
    /* background-color: #262626; */
    padding-left: 10px;
}

.main {
    /* padding-left: 200px; */
    display: flex;
}

.prod_head{
    padding-top: 150px;
    margin: 7px;
}


.text-dark{
    text-decoration: none;
}

/* 商品卡 */
.row {
    padding-top: 10px;
    
}

.card {
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
    margin: 20px;
    
}

.card-text {
    text-decoration: line-through;
    color: #bbb;
}

.pr-img {

    height: 200px;
}

#amount{
    margin: 8px 0;
}

.fa-caret-down {
    /* float: right; */
    padding-left: 8px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* #btn-img {
    width: 100%;
    height: 40px;
    text-align: center;
    background-image: url(./image/商品/shopping-cart.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
} */

#btn{
    background-color: black;
    height: 40px;
    /* color: white; */
}

.btn a:hover{
  border: 3px solid gray;
 
}


/* 分頁  */
/* .pgation{

padding-left: 30%;
    
} */

.pagination {
    justify-content: center;
}

.pgation{
    padding: 80px 0;
}


/* 頁尾 */

.footer_inner {
    background-color: black;
    background-image: linear-gradient(black, rgb(50, 50, 50));
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 8px;
    /* margin: 300px 0 0 0; */
    bottom: 0;
    /* z-index: 2; */

}


.footer_middel {
    display: flex;
    justify-content: space-between;

}

.icons {
    /* width: 100px; */
    display: flex;
    /* float: right; */
    margin: 30px 30px;
}

.aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.store{
    font-size: 16px;
    padding-top: 40px;
    margin: 0 20px;
    display: flex;
}
.open{
    font-size: 16px;
    padding-top: 26px;
    margin: 0 20px;
}


.footer_bottom {
    text-align: center;
    font-size: 10px;
    bottom: 0;
}